body {
    color: black;
}
.over-banner {
    color: white;
}
.banner-overlay_navy {
    background: rgba(32,44,60,.6);
}
#pointer_left {
    background-color: rgb(32,44,60);
}
#pointer_left:before {
    border-left: 75px solid rgb(32,44,60);
}
#pointer_right {
    background-color: rgb(32,44,60);
}
#pointer_right:before {
    border-right: 75px solid rgb(32,44,60);
}

/* BUTTONS */
.btn {
    background-color: rgb(221,161,98);
    color: black;
}
.btn:hover {
    background-color: rgb(32,44,60);
    color: rgb(255,255,255);
}