:root {
    --brown: rgb(221,161,98);
    --navy: rgb(32,44,60);
    --grey: rgb(128,136,144);
    --light-grey: rgb(222,219,225);
    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
}

body {
    color: var(--black);
}
a:hover {
    color: var(--grey) !important;
}

/* HEADER */
header {
    background-color: var(--light-grey);
}
.sticky .dropdown {
    border-top: 5px solid var(--grey);
}
.nav-item:hover > .nav-heading {
    color: var(--grey) !important;
}
.nav-heading {
    color: var(--black);
}
.dropdown {
    border-top: 8px solid var(--grey);
    background: var(--white);
}


/* FOOTER */
footer {
    background-color: var(--light-grey);
}


/* BANNER */
.over-banner {
    color: var(--white);
}
.banner-overlay_navy {
    background: rgba(32,44,60,.7);
}


/* FEATURE */
#pointer_left {
    background-color: var(--navy);
}
#pointer_left:before {
    border-left: 75px solid var(--navy);
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
}
#pointer_right {
    background-color: var(--navy);
}
#pointer_right:before {
    border-right: 75px solid var(--navy);
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
}


/* PAGINATION */
.page-item a {
    background-color: var(--brown);
    color: var(--black);
}
.page-item a:hover {
    background-color: var(--navy);
    color: var(--white);
}


/* BUTTONS */
.btn {
    background-color: var(--brown);
    color: var(--black);
}
.btn:hover {
    background-color: var(--navy);
    color: var(--white) !important;
}


/* QUESTIONNAIRE */
.questionnaire .inactive {
    background-color: var(--light-grey);
}
.questionnaire .inactive:hover {
    background-color: var(--grey);
}
.questionnaire .navy {
    background-color: var(--navy);
    color: white;
}
.noSurgery__column select, .noSurgery__column input {
    background-color: var(--light-grey);
}
.qualifies.active, .disqualifies.active {
    background-color: rgba(0,0,0,.5);
}
.qualifies .container, .disqualifies .container {
    background-color: var(--navy);
}
.qualifies h2, .disqualifies h2, .qualifies p, .disqualifies p {
    color: white;
}
.qualifies .close-overlay, .disqualifies .close-overlay {
    color: white;
}



@media (max-width: 991px) {
    /* FEATURE */
    #pointer_left::before {
        border-left: 25px solid var(--navy);
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }
    #pointer_right::before {
        border-right: 25px solid var(--navy);
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }
}

@media (max-width: 767px) {
    /* NAV */
    #mobileNavOpen, #mobileNavClose {
        color: var(--navy);
    }
    header .nav {
        background-color: var(--grey);
    }
    header .nav-item:hover > .nav-heading {
        color: var(--white) !important;
    }
    header .dropdown {
        background-color: var(--grey);
    }
}