.questionnaire h2 {
    text-align: center;
    padding-bottom: 15px;
}
.questionnaire p {
    text-align: center;
}
.questionnaire .buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.questionnaire .btn.large {
    max-width: 400px;
}

.noSurgery {
    display: none;
}
.noSurgery__columns {
    display: flex;
    justify-content: space-around;
}
.noSurgery__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noSurgery__column select, .noSurgery__column input {
    height: 40px;
    min-width: 150px;
    border: none;
}


.hadSurgery {
    display: none;
}
.hadSurgery h3 {
    text-align: center;
    margin-bottom: 25px;
}
.hadSurgery__buttons {
    display: flex;
    justify-content: space-evenly;
}


.yesEligible,
.notEligible {
    display: none;
}
.yesEligible.active,
.notEligible.active {
    display: flex;
    position: fixed;
    z-index: 5000;
    inset: 0;
    align-items: center;
}
.yesEligible .container,
.notEligible .container {
    text-align: center;
    padding: 100px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 4em;
    border-bottom-left-radius: 4em;
}
.yesEligible h2,
.notEligible h2 {
    margin: 0px;
}
.yesEligible p,
.notEligible p {
    margin: 3px;
}
.notEligible .container div {
    margin-top: 35px;
}



@media (min-width: 768px) and (max-width: 991px) {
    .questionnaire .buttons .btn.large {
        font-size: 1.5rem !important;
        margin: 10px !important;
    }
    .noSurgery__column form {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .noSurgery__columns {
        flex-direction: column;
        align-content: center;
    }
    
    .noSurgery__column form {
        padding-bottom: 15px;
    }
    
    .noSurgery__column {
        padding-bottom: 20px;
    }
    
    .questionnaire .hadSurgery__buttons .btn {
        margin: 0 10px;
    }
    
    .questionnaire .buttons {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    .questionnaire .btn {
        font-size: 17px;
        width: 300px;
        margin: 10px 0px;
    }
    
    .yesEligible .container, 
    .notEligible .container {
        padding: 100px 70px;
    }
}