body * {
    font-family: 'Georgia', serif;
}
h1 {
    font-weight: bold;
    font-size: 3.5rem;
}
h2 {
    font-size: 2.25rem;
}
h1, h2, h3, h4 {
    margin-bottom: 20px;
}
.over-image {
    font-weight: bold;
}
blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 0;
}
#feature-text blockquote {
    margin-left: 30px;
}
#feature-text blockquote:before {
    content: '“';
    position: absolute;
    font-size: 50px;
    display: block;
    margin-left: -30px;
    margin-top: -8px;
}

/* BUTTONS */
.btn {
    font-weight: bold;
}
.btn.large {
    font-size: 2rem;
}