body * {
    font-family: 'Georgia', serif;
}
h1 {
    font-weight: bold;
    margin-bottom: 60px;
}
h2 {
    font-weight: bold;
}
h2, h3, h4, h5 {
    margin-bottom: 20px;
}
hr {
    margin: 30px 0;
}
blockquote {
    font-style: italic;
    margin-left: 20px;
}
blockquote:before {
    content: '“';
    display: block;
    position: absolute;
    font-size: 2rem;
    margin-left: -20px;
    margin-top: -5px;
}
a, a:hover {
    transition: 0.15s ease-in-out;
}
.nav-heading {
    font-weight: bold;
    text-decoration: none;
}


/* HEADER */
.sticky .nav-heading {
    line-height: 35px;
}
.sticky .dropdown li {
    padding: 8px 10px;
}
header .nav-heading {
    cursor: default;
    line-height: 90px;
}
.dropdown li {
    font-style: italic;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.15s ease-in-out;
}
.dropdown li:hover {
    padding-left: 25px;
}


/* FOOTER */
footer .nav-heading {
    line-height: 1;
    cursor: pointer;
}
footer p {
    margin: 0;
    font-size: .8em;
}
.aos-copy {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.aos-copy h6 {
    margin: 0;
}


/* SPECIFIC */
#feature-text blockquote {
    margin-left: 30px;
    font-size: 1.5rem;
    margin-bottom: 0;
}
#feature-text blockquote:before {
    font-size: 50px;
    margin-left: -30px;
    margin-top: -8px;
}
.patient-review h5 {
    margin-bottom: 10px;
}
.text_right {
    text-align: right;
}
.centered {
    text-align: center;
}


/* BUTTONS */
.btn {
    font-weight: bold;
}
.btn.large {
    font-size: 2rem;
}


/* QUESTIONNAIRE */
.questionnaire h2 {
    padding-bottom: 15px;
}
.noSurgery__column {
    text-align: center;
}


.hadSurgery h3 {
    text-align: center;
    margin-bottom: 25px;
}


.qualifies .container, .disqualifies .container {
    text-align: center;
}
.qualifies h2, .disqualifies h2 {
    margin: 0px;
}
.qualifies p, .disqualifies p {
    margin: 3px;
}
.qualifies .close-overlay, .disqualifies .close-overlay {
    font-size: 2.5rem;
    text-decoration: none;
    line-height: 1;
}




@media (min-width: 768px) and (max-width: 991px) {
    /* QUESTIONNAIRE */
    .questionnaire__buttons .btn.large {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 767px) {
    /* QUESTIONNAIRE */
    .questionnaire .btn {
        font-size: 17px;
    }
}